<%- include('includes/head.ejs') %>
</head>

<body>
  <%- include('includes/app-header.ejs') %>
  <main>
    <div class="not-found-wrapper">
      <img src="/img/404.png" , alt="" style="width:500px; max-width:90%;">
      <h1 style="text-align:center">Page not found</h1>
    </div>
  </main>
  <%- include('includes/end.ejs') %>